.user-data {
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
}

.user-data > .avatar {
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #29be29;
    margin: 0 auto;
    margin-bottom: 20px;
}

.user-data > .fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-data > .fields > .field {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 22px;
}